    <header>
      <h1>CollectR</h1>
      <p id="import" {{action 'importCollection'}}>Import from Discogs</p>
    </header>
    <div id="main">
    <div id="addNew" class="hidden">
    <form class="newRelease">
    	{{textarea name='artist' placeholder='Artist' value=artistText}}
    	{{textarea name='title' placeholder='Title' value=titleText}}
    	{{textarea name='label' placeholder='Label' value=labelText}}
    	{{textarea name='year' placeholder='Year' value=year}}
    	{{textarea name='format' placeholder='Format' value=formatText}}
    	{{textarea name='thumb' placeholder='Album Art URL' value=thumbURL}}
    	<button type="submit" {{action 'submitRelease'}}>
    		Add
    	</button>
    	<button type="cancel" {{action 'cancelCreate'}}>
    		Cancel
    	</button>
    </form>
    </div>
    <div class="container">
    	<ul id="collection">
    		{{#each model as |release|}}
    		<li class="release">
    			<img src="{{release.thumb}}" alt="" height="200px" width="200px" class="thumbnail" {{action 'updateThumb' release}} />
    			<div class="info">
    				<h2>{{release.artist}}</h2>
    				<h3>{{release.title}}</h3>
    				<p>{{release.label}} / {{release.year}} / {{release.format}}</p>
    			</div>
    			<div class="delete" {{action 'deleteRelease' release}}>Delete</div>
    		</li>
    		{{/each}}
    	</ul>
    </div>
    <button class="addRelease" {{action 'createNewRelease'}}>
    	Add
    </button>
    </div>